<!DOCTYPE html>
<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <!-- read on to learn about form actions, we'll talk about the method in a later section -->
        <form action='/users' method='post'>
          First Name:<input type='text' name='first_name'>
          Last Name:<input type='text' name='last_name'>
          Email:<input type='text' name='email'>
          Age:<input type='text' name='age'>
          Bio:<input type='text-field' name='bio'>
          <input type='submit' value='Submit'>
        </form>
    </body>
</html>
